.body{
    padding:0;
    margin:0;
    font-family: 'Open Sans', sans-serif;
}
.debug{
    border:red solid 1px;
}
.container-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:50vw;
    padding-top:150px;
}
.cards{
display: flex;
flex-direction: column;
height: 350px;
width: 300px;
}
.left-filters{
    width:20vw;
    height: 100%;
}
.empty-space{
    height: 80px;
    width:50px;
}
.wrapper-card{
    display: flex;
    flex-direction: row;
    width:100%;
    height: 100%;
}

.card-image img{
    width:280px;
    height:280px;
}
.card-name{
    text-align:center;
    font-family: 'Montserrat', sans-serif;
}
.card-price{
    text-align:center;
    font-family: 'Montserrat', sans-serif;
}